# Haskell
*.aux
*.chi
*.chs.h
*.dump-hi
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*

# Mcmc
*.batch
*.chain
*.data
*.json
*.log
*.mc3
*.mcmc
*.meantree
*.mhg
*.monitor
*.settings

# Emacs
/**/TAGS
/.rsync-project
/.direnv/
/result
